body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.reason {
    font-style: italic;
    color: gray;
}


.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.result-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

#total {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
}
